table, th, td {
  border: 2px solid var(--dark);
  border-collapse: collapse;
  margin-top: 1rem;
  padding: 5px;
}

th {
  font-size: 18px;
  background-color: var(--dark);
  border: 2px solid var(--gray-dark);
}

td {
  font-size: 16px;
  text-align: left;
}

tr:hover {
  background-color: var(--gray);
}

.college-table {
  padding: 20px;
  margin-top: 80px;
}

.width150 {
  width: 150px;
}

.width100 {
  width: 40px;
}

.none-found {
  text-align: center;
}
