table, th, td {
  border: 2px solid var(--dark);
  border-collapse: collapse;
  padding: 5px;
}

th {
  font-size: 1.1rem;
}

td {
  font-size: 16px;
  text-align: left;
}

tr:hover {
  background-color: var(--gray);
}

.college-table {
  padding: 20px;
  margin-top: 80px;
}

.width150 {
  width: 150px;
}

.width100 {
  width: 40px;
}
