input {
  text-align: center;
  vertical-align: middle;
}

.filter-form {
  background-color: var(--gray);
  text-align: center;
  padding: 20px 60px;
  margin-top: 10px;
  border-radius: 5px;
  font-size: 24px;
  display: flex;
  justify-content: center;
  box-shadow: 0 0 10px var(--dark);
}

.exam-type-select, .rank-input {
  margin: 0 15px;
  background-color: var(--dark);
  color: var(--yellow);
  border: 2px solid var(--yellow);
  font-size: 24px;
  border-radius: 2px;
}

.submit-btn {
  background-color: var(--dark);
  border: 2px solid var(--yellow);
  color: var(--silver);
  padding: 4px 15px 0;
  font-size: 14px;
  font-weight: 800;
  letter-spacing: 1px;
  text-transform: uppercase;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.submit-btn:hover, .submit-btn:focus {
  background-color: var(--yellow);
  border: 2px solid var(--dark);
  color: var(--dark);
}

@media only screen and (max-width: 940px) {
  .filter-form {
    font-size: 16px;
  }

  .submit-btn {
    padding: 4px 8px 0;
    font-size: 10px;
  }
  .exam-type-select, .rank-input {
    font-size: 16px;
    width: 100px;
  }
}
